
/* CONTACT */
#contact{
    background-color: $background-color;
    padding: 4% 0% 4% 0%;
    text-align: -webkit-center;
    div{
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-start;
      flex-direction: row;
      margin: 3% 2%;
      justify-content: space-evenly;
      .contact__title{
        flex-direction: column;
        width: 20%;
        margin: 0px;
        h5{
          font-size: 1rem;
          font-weight: 800;
          margin: 0px;
          padding: 0px;
        }
        hr{
          margin: 3px 0px;
          opacity: inherit;
          box-shadow: none;
          color: $primary-color;
          width: 80%;
        }
        a{
          color: $primary-color;
          text-decoration: none;
          display: flex;
          align-items: center;
          margin-top: 1rem;
          img{
            width: 1.5rem;
          }
        }
      }
      .contact__subtitle{
        margin: 0px;
        width: 70%;
        .card{
          background-color: $background-color;
          border: none;
          width: 24rem;
          display: flex;
          flex-direction: column;
          margin-bottom: 40px;
          .card-body{
            flex-direction: column;
            hr{
              margin: 3px 0px;
              opacity: inherit;
              box-shadow: none;
              color: $primary-color;
              width: 100%;
            }
            .card-body-info{
              display: flex;
              flex-direction: column;
              .card-title{
                color: $pink-color;
              }
              h5{
                text-align: start;
              }
              .card-text{
                text-align: left;
              }
              .arrow{
                color: $primary-color;
                text-decoration: none;
                img{
                  width: 1.5rem;
                }
              }
            }
          }
        }
      }
    }
  }
  /* FIN CONTACT */