
/* EXAMPLE BLOG */
#blog__example{
    padding: 4% 0% 4% 0%;
    text-align: -webkit-center;
    hr{
      margin: 3px 0px;
      opacity: inherit;
      box-shadow: none;
      color: $primary-color;
      width: 100%;
    }
    div{
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-start;
      flex-direction: row;
      margin: 3% 2%;
      justify-content: space-evenly;
      .example__title{
        flex-direction: column;
        width: 20%;
        margin: 0px;
        h5{
          font-size: 2rem;
          font-weight: 800;
          margin: 0px;
          padding: 0px;
        }
        hr{
          margin: 3px 0px;
          opacity: inherit;
          box-shadow: none;
          color: $primary-color;
          width: 80%;
        }
        a{
          color: $primary-color;
          text-decoration: none;
          display: flex;
          align-items: center;
          margin-top: 1rem;
          img{
            width: 1.5rem;
          }
        }
      }
      .example__subtitle{
        margin: 0px;
        width: 70%;
        text-align: left;
        flex-direction: column;
        h2{
          margin-bottom: 50px;
        }
      }
    }
  }
  /* FIN EXAMPLE BLOG */