
/* SERVICES */
#services{
    display: flex;
    justify-content: center;
    background-color: #f1efe8;
    padding: 3% 0% 15% 0%;
    div{
      width: 80%;
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-start;
      flex-direction: row;
      margin: 3% 2%;
      justify-content: space-evenly;
      .services__title{
        flex-direction: column;
        width: 25%;
        margin: 0px;
        h5{
          font-size: 2rem;
          font-weight: 800;
          margin: 0px;
          padding: 0px;
        }
        hr{
          margin: 3px 0px;
          opacity: inherit;
          box-shadow: none;
          color: $primary-color;
          width: 100%;
        }
        img{
          width: 15rem;
          margin-top: 2rem;
        }
      }
      .services__subtitle{
        margin: 0px;
        width: 22%;
        h2{
          width: 100%;
          font-size: 55px;
          font-weight: 300;
          font-family: $fontLight;
        }
      }
      .services__example{
        margin: 0px;
        flex-direction: column;
        width: 30%;
        align-items: center;
        p{
          font-size: 1.5rem;
        }
      }
    }
  }
  #detalle{
    nav{
      height: 100px;
      background-color: $pink-color;
      color: $secondary-color;
      ul{
        height: 100%;
        min-height: 70px;
        align-content: center;
        font-size: 1.5rem;
        li{
          a{
            color: $secondary-color;
          }
        }
      }
    }
    .detalle__opciones{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      div{
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        img{
          width: 50%;
        }
      }
      #fiscal{
        flex-direction: row;
        div{
          width: 550px;
          margin: 2rem 6rem;
          flex-direction: column;
          font-size: 1.5rem;
          h3{
            font-size: 3.5rem;
            font-family: $fontLight;
            font-palette: dark;
          }
          p{
            font-size: 1.5rem;
          }
          .move{
            margin: 0px;
            flex-direction: column;
            .card-body{
              margin: 0px;
            }
            .card-example{
              flex-direction: column;
              margin: 0px;
              border: none;
              position: relative !important;
              inset: 0px auto auto 0px;
              transform: none !important;
              .card-example-options{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 0px 0px 5px 0px;
                --bs-dropdown-link-active-bg: transparent;
                img{
                  width: 25px;
                  margin-right: 1rem;
                }
                p{
                  font-size: 1.5rem;
                  margin: 0px;
                }
              }
            }
          }
          .arrow{
            text-decoration: none;
            color: $primary-color;
            img{
              width: 1.5rem;
            }
          }
        }
      }
      #contable{
        flex-direction: row-reverse;
        div{
          width: 550px;
          margin: 2rem 6rem;
          flex-direction: column;
          font-size: 1.5rem;
          h3{
            font-size: 3.5rem;
            font-family: $fontLight;
            font-palette: dark;
          }
          p{
            font-size: 1.5rem;
          }
          .move{
            margin: 0px;
            flex-direction: column;
            .card-body{
              margin: 0px;
            }
            .card-example{
              flex-direction: column;
              margin: 0px;
              border: none;
              position: relative !important;
              inset: 0px auto auto 0px;
              transform: none !important;
              .card-example-options{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 0px 0px 5px 0px;
                --bs-dropdown-link-active-bg: transparent;
                img{
                  width: 25px;
                  margin-right: 1rem;
                }
                p{
                  font-size: 1.5rem;
                  margin: 0px;
                }
              }
            }
          }
          .arrow{
            text-decoration: none;
            color: $primary-color;
            img{
              width: 1.5rem;
            }
          }
        }
      }
      #laboral{
        flex-direction: row;
        div{
          width: 550px;
          margin: 2rem 6rem;
          flex-direction: column;
          font-size: 1.5rem;
          h3{
            font-size: 3.5rem;
            font-family: $fontLight;
            font-palette: dark;
          }
          p{
            font-size: 1.5rem;
          }
          .move{
            margin: 0px;
            flex-direction: column;
            .card-body{
              margin: 0px;
            }
            .card-example{
              flex-direction: column;
              margin: 0px;
              border: none;
              position: relative !important;
              inset: 0px auto auto 0px;
              transform: none !important;
              .card-example-options{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 0px 0px 5px 0px;
                --bs-dropdown-link-active-bg: transparent;
                img{
                  max-width: 25px;
                  margin-right: 1rem;
                }
                p{
                  font-size: 1.5rem;
                  margin: 0px;
                }
              }
            }
          }
          .arrow{
            text-decoration: none;
            color: $primary-color;
            img{
              width: 1.5rem;
            }
          }
        }
      }
      #mercantil{
        flex-direction: row-reverse;
        div{
          width: 550px;
          margin: 2rem 6rem;
          flex-direction: column;
          font-size: 1.5rem;
          h3{
            font-size: 3.5rem;
            font-family: $fontLight;
            font-palette: dark;
          }
          p{
            font-size: 1.5rem;
          }
          .move{
            margin: 0px;
            flex-direction: column;
            .card-body{
              margin: 0px;
            }
            .card-example{
              flex-direction: column;
              margin: 0px;
              border: none;
              position: relative !important;
              inset: 0px auto auto 0px;
              transform: none !important;
              .card-example-options{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 0px 0px 5px 0px;
                --bs-dropdown-link-active-bg: transparent;
                img{
                  width: 25px;
                  margin-right: 1rem;
                }
                p{
                  font-size: 1.5rem;
                  margin: 0px;
                }
              }
            }
          }
          .arrow{
            text-decoration: none;
            color: $primary-color;
            img{
              width: 1.5rem;
            }
          }
        }
      }
      #administrativa{
        flex-direction: row;
        div{
          width: 550px;
          margin: 2rem 6rem;
          flex-direction: column;
          font-size: 1.5rem;
          h3{
            font-size: 3.5rem;
            font-family: $fontLight;
            font-palette: dark;
          }
          p{
            font-size: 1.5rem;
          }
          .move{
            margin: 0px;
            flex-direction: column;
            .card-body{
              margin: 0px;
            }
            .card-example{
              flex-direction: column;
              margin: 0px;
              border: none;
              position: relative !important;
              inset: 0px auto auto 0px;
              transform: none !important;
              .card-example-options{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 0px 0px 5px 0px;
                --bs-dropdown-link-active-bg: transparent;
                img{
                  width: 25px;
                  margin-right: 1rem;
                }
                p{
                  font-size: 1.5rem;
                  margin: 0px;
                }
              }
            }
          }
          .arrow{
            text-decoration: none;
            color: $primary-color;
            img{
              width: 1.5rem;
            }
          }
        }
      }
      #consultoria{
        flex-direction: row-reverse;
        div{
          width: 550px;
          margin: 2rem 6rem;
          flex-direction: column;
          font-size: 1.5rem;
          h3{
            font-size: 3.5rem;
            font-family: $fontLight;
            font-palette: dark;
          }
          p{
            font-size: 1.5rem;
          }
          .move{
            margin: 0px;
            flex-direction: column;
            :active{
              color: transparent;
            }
            .card-body{
              margin: 0px;
            }
            .card-example{
              flex-direction: column;
              margin: 0px;
              border: none;
              position: relative !important;
              inset: 0px auto auto 0px;
              transform: none !important;
              .card-example-options{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 0px 0px 5px 0px;
                --bs-dropdown-link-active-bg: transparent;
                img{
                  width: 25px;
                  margin-right: 1rem;
                }
                p{
                  font-size: 1.5rem;
                  margin: 0px;
                }
              }
            }
          }
          .arrow{
            text-decoration: none;
            color: $primary-color;
            img{
              width: 1.5rem;
            }
          }
        }
      }
      #otros{
        flex-direction: row;
        div{
          width: 550px;
          margin: 2rem 6rem;
          flex-direction: column;
          font-size: 1.5rem;
          h3{
            font-size: 3.5rem;
            font-family: $fontLight;
            font-palette: dark;
          }
          p{
            font-size: 1.5rem;
          }
          .move{
            margin: 0px;
            flex-direction: column;
            .card-body{
              margin: 0px;
            }
            .card-example{
              flex-direction: column;
              margin: 0px;
              border: none;
              position: relative !important;
              inset: 0px auto auto 0px;
              transform: none !important;
              .card-example-options{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 0px 0px 5px 0px;
                --bs-dropdown-link-active-bg: transparent;
                img{
                  width: 25px;
                  margin-right: 1rem;
                }
                p{
                  font-size: 1.5rem;
                  margin: 0px;
                }
              }
            }
          }
          .arrow{
            text-decoration: none;
            color: $primary-color;
            img{
              width: 1.5rem;
            }
          }
        }
      }
    }
  }
  /* FIN DE SERVICES */

/* MEDIA QUERIS */
@media screen and (max-width: 1300px) and (min-width: 100px) {
  #fiscal{
    div{
      width: 100px;
    }
  }
  #contable{
    div{
      width: 100px;
    }
  }
  #laboral{
    div{
      width: 100px;
    }
  }
  #mercantil{
    div{
      width: 100px;
    }
  }
  #administrativa{
    div{
      width: 100px;
    }
  }
  #consultoria{
    div{
      width: 100px;
    }
  }
  #otros{
    div{
      width: 100px;
    }
  }
}

/* FINAL DE MEDIA QUERIES */