
//fonts
@font-face {
  font-family: 'poppins';
  src: url('../../fonts/Poppins-Medium.ttf') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'poppins-light';
  src: url('../../fonts/Poppins-Light.ttf') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'poppins-bold';
  src: url('../../fonts/Poppins-Bold.ttf') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'minionPro';
  src: url('../../fonts/MinionPro-Regular.otf') format('woff');
  font-style: normal;
}

//colors
$primary-color: #000000;
$secondary-color: #fff;
$highlight-color: #555;
$background-color: #f4f4f4;
$pink-color: #ef3757;
$font: poppins;
$fontLight: poppins-light;
$fontBold: poppins-bold;
$fontMinion: minionPro;

// assets/scss/styles.scss
@import "~bootstrap/scss/bootstrap";
@import "articles";
@import "header";
@import "index";
@import "about";
@import "form";
@import "services";
@import "news";
@import "blogs";
@import "footer";

*{
  font-family: $font;
  color: $primary-color;
}

body {
  font-family: $font;
  margin: 0;
  padding: 0;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 1700px) and (min-width: 1350px) {
  #carousel-large{
    #carouselExampleIndicators{
      .carousel-inner{
        .carousel-item{
          p{
            font-size: 2rem;
            bottom: 40%;
            left: 25%;
          }
        }
      }
    }
  }
  #servicios{
    margin: 3% 6%;
    .servicios__title{
      width: 27%;
    }
    .servicios__subtitle{
      width: 30%;
      h2{
        font-size: 50px;
      }
    }
    .servicios__example{
      width: 30%;
      }
  }
    
  #plan{
    div{
      margin: 3% 6%;
      .plan__title{
        width: 27%;
      }
      .plan__subtitle{
        width: 30%;
        h2{
          font-size: 50px;
        }
      }
      .plan__example{
        width: 30%;
      }
    }
  }
  
  #contacto{
    margin: 3% 6%;
    .contacto__title{
      flex-direction: column;
      width: 27%;
      margin: 0px;
    }
    .contacto__subtitle{
      margin: 0px;
      width: 30%;
      h2{
        font-size: 50px;
      }
    }
    .contacto__form{
      width: 30%;
    }
  }

  #about{
    div{
      margin: 3% 6%;
      .about__title{
        width: 27%;
      }
      .about__subtitle{
        width: 30%;
      }
      .about__example{
        width: 30%;
      }
    }
  }
  #services{
    div{
      margin: 3% 6%;
      .services__title{
        width: 27%;
      }
      .services__subtitle{
        width: 30%;
        h2{
          font-size: 50px;
        }
      }
      .services__example{
        width: 30%;
      }
    }
  }
  #plan{
    
    .plan__points{
      width: 100%;
      div{
        .plan__points__text{
          h3{
            font-size: 1.5rem;
          }
          p{
            font-size: 1.2rem;
          }
        }
      }
    }
  } 
  #quienes-somos{ 
    .team {
      .team__position{
        .team-member{
          width: 10rem;
        }
      }
    }
  }
  #blog__img{
    height: 350px;
    margin-bottom: 15%;
  }
}

@media screen and (max-width: 1350px) and (min-width: 1030px) {
  #carousel-large{
    #carouselExampleIndicators{
      .carousel-inner{
        .carousel-item{
          p{
            font-size: 1.5rem;
            bottom: 41%;
          }
        }
      }
    }
  }
  #servicios{
    margin: 3% 6%;
    flex-wrap: wrap;
    .servicios__title{
        width: 45%;
    }
    .servicios__subtitle{
          width: 45%;
    }
    .servicios__example{
      width: 50%;
      margin-top: 4rem;
      }
  }
    
  #plan{
    div{
      flex-wrap: wrap;
      margin: 3% 6%;
      .plan__title{
        width: 45%;
      }
      .plan__subtitle{
        width: 45%;
      }
      .plan__example{
        margin: 4rem 0rem 0rem 0rem;
        width: 50%;
      }
    }
    .plan__points{
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0px;
      width: 100%;
      div{
        display: flex;
        margin: 0%;
        flex-direction: row;
        align-items: center;
        width: 66%;
        justify-content: center;
          .plan__points__box{
            margin: 1%;
            padding: 0%;
            height: 100%;
          }
        div{
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: flex-start;
          align-items: center;
          background-color: white;
          margin: 0px;
          height: 200px;
        }
        .plan__points__img{
          width: 200px;
        }
        .plan__points__text{
          padding: 4%;
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          align-items: flex-start;
          justify-content: flex-start;
          margin: 0%;
          h3{
            padding-bottom: 5%;
            width: 100%;
            margin: 0px;
            font-size: 1.5rem;
            font-weight: 600;
          }
          p{
            font-size: 80%;
            width: 100%;
            margin: 0px;
          }
        }
      }
    }
  }
  
  #contacto{
    flex-wrap: wrap;
    margin: 3% 6%;
    .contacto__title{
      flex-direction: column;
      width: 45%;
      margin: 0px;
    }
    .contacto__subtitle{
      margin: 0px;
      width: 45%;
    }
    .contacto__form{
      width: 50%;
      margin-top: 4rem;
    }
  }

  #about{
    div{
      flex-wrap: wrap;
      margin: 3% 6%;
      .about__title{
        width: 45%;
      }
      .about__subtitle{
        width: 45%;
      }
      .about__example{
        margin: 4rem 0rem 0rem 0rem;
        width: 50%;
      }
    }
  }
  #services{
    div{
      flex-wrap: wrap;
      margin: 3% 6%;
      .services__title{
        width: 45%;
      }
      .services__subtitle{
        width: 45%;
      }
      .services__example{
        margin: 4rem 0rem 0rem 0rem;
        width: 50%;
      }
    }
  }
  #quienes-somos{ 
    .team {
      .team__position{
        .team-member{
          width: 13rem;
        }
      }
    }
  }
  #blog__img{
    height: 350px;
    margin-bottom: 15%;
  }
}


@media screen and (max-width: 1030px) and (min-width: 850px) {
  
  #carouselExampleIndicators{
    .carousel-inner{ 
      .carousel-item{
        p{
          font-size: 1.2rem !important;
          bottom: 42% !important;
          left: 25% !important;
        }
      }
    }
  }

  #servicios{
    margin: 3% 6%;
    flex-wrap: wrap;
    .servicios__title{
        width: 45%;
      h5{
        font-size: 1.4rem;
      }
      img{
        width: 13rem;
      }
    }
    .servicios__subtitle{
          width: 45%;
      h2{
        font-size: 45px;
      }
    }
    .servicios__example{
      width: 50%;
      margin-top: 4rem;
      p{
        font-size: 0.9rem;
      }
      .servicios__points{
        font-size: 0.9rem;
      }
      .servicios__btn{
        a{
          font-size: 0.9rem;
        }
      }
      }
  }
    
  #plan{
    div{
      flex-wrap: wrap;
      margin: 3% 6%;
      .plan__title{
        width: 45%;
        h5{
          font-size: 1.4rem;
        }
        img{
          width: 13rem;
        }
      }
      .plan__subtitle{
        width: 45%;
        h2{
          font-size: 45px;
        }
      }
      .plan__example{
        margin: 4rem 0rem 0rem 0rem;
        width: 50%;
        p{
          font-size: 0.9rem;
        }
      }
    }
    .plan__points{
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0px;
      width: 100%;
      div{
        display: flex;
        margin: 0%;
        flex-direction: row;
        align-items: center;
        width: 70%;
        justify-content: center;
          .plan__points__box{
            margin: 1%;
            padding: 0%;
            height: 100%;
          }
        div{
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: flex-start;
          align-items: center;
          background-color: white;
          margin: 0px;
          height: 200px;
        }
        .plan__points__img{
          width: 200px;
        }
        .plan__points__text{
          padding: 4%;
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          align-items: flex-start;
          justify-content: flex-start;
          margin: 0%;
          h3{
            padding-bottom: 5%;
            width: 100%;
            margin: 0px;
            font-size: 1.2rem;
            font-weight: 600;
          }
          p{
            font-size: 0.77rem;
            width: 100%;
            margin: 0px;
          }
        }
      }
    }
  }
  
  #contacto{
    flex-wrap: wrap;
    margin: 3% 6%;
    .contacto__title{
      flex-direction: column;
      width: 45%;
      margin: 0px;
      h5{
        font-size: 1.4rem;
      }
    }
    .contacto__subtitle{
      margin: 0px;
      width: 45%;
      h2{
        font-size: 45px;
      }
      div{
        font-size: 1rem;
      }
    }
    .contacto__form{
      width: 50%;
      margin-top: 4rem;
      form{
        label{
          font-size: 1rem;
        }
        input{
          font-size: 1rem;
        }
        textarea{
          font-size: 1rem;
        }
        button{
          font-size: 1rem;
        }
      }
    }
  }

  #about{
    div{
      flex-wrap: wrap;
      margin: 3% 6%;
      .about__title{
        width: 45%;
        h5{
          font-size: 1.4rem;
        }
        img{
          width: 13rem;
        }
      }
      .about__subtitle{
        width: 45%;
        h2{
          font-size: 45px;
        }
      }
      .about__example{
        margin: 4rem 0rem 0rem 0rem;
        width: 50%;
        p{
          font-size: 0.9rem;
        }
      }
    }
  }

  #services{
    div{
      flex-wrap: wrap;
      margin: 3% 6%;
      .services__title{
        width: 45%;
        h5{
          font-size: 1.4rem;
        }
        img{
          width: 13rem;
        }
      }
      .services__subtitle{
        width: 45%;
        h2{
          font-size: 45px;
        }
      }
      .services__example{
        margin: 4rem 0rem 0rem 0rem;
        width: 50%;
        p{
          font-size: 0.9rem;
        }
      }
    }
  }

  #blog__img{
    height: 200px;
    margin-bottom: 15%;
  }
    
  footer{
    .footer__marca{
      div{
        .footer__logo{
          .footer__logo__info{
            font-size: 0.8rem;
            p{
              font-size: 0.8rem;
            }
          }
        }
      }
      p{
        font-size: 0.8rem;
      }
    }
    .footer__links{
      font-size: 0.8rem;
    }
  }
}

@media screen and (max-width: 850px) and (min-width: 600px) {
  #nav {
    display: none;
  }
  #nav__blogs{
    display:none
  }
  #nav__blogs__small{
    display: block !important;
    background-color: $background-color;
    .navbar-brand{
      img{
        width: 150px;
      }
    }
    .container-fluid{
        .offcanvas-end{
          .offcanvas-header{
            img{
              width: 150px;
            }
          }
          .offcanvas-body{
            ul{
              display: flex;
              align-items: center;
              justify-content: center;
              margin: 0;
              padding: 0;
              list-style: none;
              flex-direction: column;
              flex-wrap: nowrap;
              align-content: space-around;
              li{
                font-size: small;
                margin-bottom: 25px;
              }
            }
          }
        }
    }
  }

  #nav__small {
    display: block;
    background-color: $secondary-color;
    .navbar-brand{
      img{
        width: 150px;
      }
    }
    .container-fluid{
        .offcanvas-end{
          .offcanvas-header{
            img{
              width: 150px;
            }
          }
          .offcanvas-body{
            ul{
              display: flex;
              align-items: center;
              justify-content: center;
              margin: 0;
              padding: 0;
              list-style: none;
              flex-direction: column;
              flex-wrap: nowrap;
              align-content: space-around;
              li{
                font-size: small;
                margin-bottom: 25px;
              }
            }
          }
        }
    }
  }

#carousel-large{
  display:none;
}
  
#carousel-small{
  display: block;
  #carouselExampleIndicators{
    .carousel-inner{
      .carousel-item{
        margin: 0%;
        p{
          font-size: 2rem;
          position: absolute;
          bottom: 76%;
          left: 11%;
          color: white;
          margin: 0px;
        }
      }
    }
  }
}


  #servicios{
    display: flex;
    margin: 3% 6%;
    flex-wrap: wrap;
    .servicios__title{
      width: 100%;
      display: flex;
      height: 100%;
      flex-direction: column;
      align-items: flex-end;
      h5{
        font-size: 1.4rem;
      }
      hr{
        margin: 3px 0%;
        opacity: 100%;
        box-shadow: none;
        color: $primary-color;
        width: 60%;
      }
      img{
        width: 13rem;
      }
    }
    .servicios__subtitle{
      width: 100%;
      h2{
        font-size: 45px;
        margin-top: 3rem;
      }
    }
    .servicios__example{
      width: 80%;
      margin-top: 4rem;
      p{
        font-size: 0.9rem;
      }
      .servicios__points{
        font-size: 0.9rem;
      }
      .servicios__btn{
        a{
          font-size: 0.9rem;
        }
      }
      }
  }
    
  #plan{
    div{
      flex-wrap: wrap;
      margin: 3% 6%;
      .plan__title{
        width: 100%;
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: flex-end;
        h5{
          font-size: 1.4rem;
        }
        hr{
          margin: 3px 0%;
          opacity: 100%;
          box-shadow: none;
          color: $primary-color;
          width: 60%;
        }
        img{
          width: 13rem;
        }
      }
      .plan__subtitle{
        width: 100%;
        h2{
          font-size: 45px;
          margin-top: 3rem;
        }
      }
      .plan__example{
        margin: 4rem 0rem 0rem 0rem;
        width: 80%;
        p{
          font-size: 0.9rem;
        }
      }
    }
    .plan__points{
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0px;
      width: 100%;
      div{
        display: flex;
        margin: 0%;
        flex-direction: row;
        align-items: center;
        width: 83%;
        justify-content: center;
          .plan__points__box{
            margin: 1%;
            padding: 0%;
            height: 100%;
          }
        div{
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: flex-start;
          align-items: center;
          background-color: white;
          margin: 0px;
          height: 200px;
        }
        .plan__points__img{
          width: 200px;
        }
        .plan__points__text{
          padding: 4%;
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          align-items: flex-start;
          justify-content: flex-start;
          margin: 0%;
          h3{
            padding-bottom: 5%;
            width: 100%;
            margin: 0px;
            font-size: 1.2rem;
            font-weight: 600;
          }
          p{
            font-size: 0.77rem;
            width: 100%;
            margin: 0px;
          }
        }
      }
    }
  }
  
  #contacto{
    flex-wrap: wrap;
    margin: 3% 6%;
    .contacto__title{
      margin: 0px;
      width: 100%;
      display: flex;
      height: 100%;
      flex-direction: column;
      align-items: flex-end;
      h5{
        font-size: 1.4rem;
      }
      hr{
        margin: 3px 0px;
        opacity: inherit;
        box-shadow: none;
        color: $primary-color;
        width: 60%;
      }
    }
    .contacto__subtitle{
      margin: 0px;
      width: 100%;
      margin-top: 4rem;
      h2{
        font-size: 45px;
        margin-bottom: 2.9rem;
      }
      div{
        font-size: 1rem;
      }
    }
    .contacto__form{
      width: 80%;
      margin-top: 4rem;
      form{
        label{
          font-size: 1rem;
        }
        input{
          font-size: 1rem;
        }
        textarea{
          font-size: 1rem;
        }
        button{
          font-size: 1rem;
        }
      }
    }
  }

  #about{
    div{
      flex-wrap: wrap;
      margin: 3% 6%;
      .about__title{
        width: 100%;
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: flex-end;
        h5{
          font-size: 1.4rem;
        }
        hr{
          margin: 3px 0%;
          opacity: 100%;
          box-shadow: none;
          color: $primary-color;
          width: 60%;
        }
        img{
          width: 13rem;
        }
      }
      .about__subtitle{
        width: 100%;
        h2{
          font-size: 45px;
          margin-top: 3rem;
        }
      }
      .about__example{
        margin: 4rem 0rem 0rem 0rem;
        width: 80%;
        p{
          font-size: 0.9rem;
        }
      }
    }
  }
  #quienes-somos {
    .img{
      position: relative;
      bottom: 120px;
    }
  }

  #services{
    div{
      flex-wrap: wrap;
      margin: 3% 6%;
      .services__title{
        width: 100%;
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: flex-end;
        h5{
          font-size: 1.4rem;
        }
        hr{
          margin: 3px 0%;
          opacity: 100%;
          box-shadow: none;
          color: $primary-color;
          width: 60%;
        }
        img{
          width: 13rem;
        }
      }
      .services__subtitle{
        width: 100%;
        h2{
          font-size: 45px;
          margin-top: 3rem;
        }
      }
      .services__example{
        margin: 4rem 0rem 0rem 0rem;
        width: 80%;
        p{
          font-size: 0.9rem;
        }
      }
    }
  }
  
#detalle{
  nav{
    .sub__nav{
      li{
        a{
          font-size: 0.6rem;
        }
      }
    }
  }
  .detalle__opciones{
    #fiscal{
      div{
        margin: 1rem 2rem;
        h3{
          font-size: 1.5rem;
        }
        p{
          font-size: 1rem;
        }
        .move{
          .card-body{
            font-size: 0.7rem;
          }
          .card-example{
            .card-example-options{
              margin: 0px 0px 5px 0px;
              img{
                width: 20px;
                height: 20px;
                margin-right: 0.5rem;
              }
              p{
                font-size: 0.7rem;
              }
            }
          }
        }
        .arrow{
          font-size: 0.8rem;
        }
      }
    }
    #contable{
      div{
        margin: 1rem 2rem;
        h3{
          font-size: 1.5rem;
        }
        p{
          font-size: 1rem;
        }
        .move{
          .card-body{
            font-size: 0.7rem;
          }
          .card-example{
            .card-example-options{
              margin: 0px 0px 5px 0px;
              img{
                width: 20px;
                height: 20px;
                margin-right: 0.5rem;
              }
              p{
                font-size: 0.7rem;
              }
            }
          }
        }
        .arrow{
          font-size: 0.8rem;
        }
      }
    }
    #laboral{
      div{
        margin: 1rem 2rem;
        h3{
          font-size: 1.5rem;
        }
        p{
          font-size: 1rem;
        }
        .move{
          .card-body{
            font-size: 0.7rem;
          }
          .card-example{
            .card-example-options{
              margin: 0px 0px 5px 0px;
              img{
                width: 20px;
                height: 20px;
                margin-right: 0.5rem;
              }
              p{
                font-size: 0.7rem;
              }
            }
          }
        }
        .arrow{
          font-size: 0.8rem;
        }
      }
    }
    #mercantil{
      div{
        margin: 1rem 2rem;
        h3{
          font-size: 1.5rem;
        }
        p{
          font-size: 1rem;
        }
        .move{
          .card-body{
            font-size: 0.7rem;
          }
          .card-example{
            .card-example-options{
              margin: 0px 0px 5px 0px;
              img{
                width: 20px;
                height: 20px;
                margin-right: 0.5rem;
              }
              p{
                font-size: 0.7rem;
              }
            }
          }
        }
        .arrow{
          font-size: 0.8rem;
        }
      }
    }
    #administrativa{
      div{
        margin: 1rem 2rem;
        h3{
          font-size: 1.5rem;
        }
        p{
          font-size: 1rem;
        }
        .move{
          .card-body{
            font-size: 0.7rem;
          }
          .card-example{
            .card-example-options{
              margin: 0px 0px 5px 0px;
              img{
                width: 20px;
                height: 20px;
                margin-right: 0.5rem;
              }
              p{
                font-size: 0.7rem;
              }
            }
          }
        }
        .arrow{
          font-size: 0.8rem;
        }
      }
    }
    #consultoria{
      div{
        margin: 1rem 2rem;
        h3{
          font-size: 1.5rem;
        }
        p{
          font-size: 1rem;
        }
        .move{
          .card-body{
            font-size: 0.7rem;
          }
          .card-example{
            .card-example-options{
              margin: 0px 0px 5px 0px;
              img{
                width: 20px;
                height: 20px;
                margin-right: 0.5rem;
              }
              p{
                font-size: 0.7rem;
              }
            }
          }
        }
        .arrow{
          font-size: 0.8rem;
        }
      }
    }
    #otros{
      div{
        margin: 1rem 2rem;
        h3{
          font-size: 1.5rem;
        }
        p{
          font-size: 1rem;
        }
        .move{
          .card-body{
            font-size: 0.7rem;
          }
          .card-example{
            .card-example-options{
              margin: 0px 0px 5px 0px;
              img{
                width: 20px;
                height: 20px;
                margin-right: 0.5rem;
              }
              p{
                font-size: 0.7rem;
              }
            }
          }
        }
        .arrow{
          font-size: 0.8rem;
        }
      }
    }
  }
}

#actualidad{
  flex-wrap: wrap;
  padding: 3% 6%;
  .actualidad__title{
    margin: 0px;
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-end;
    h5{
      font-size: 1.4rem;
    }
    hr{
      margin: 3px 0px;
      opacity: inherit;
      box-shadow: none;
      color: $primary-color;
      width: 60%;
    }
    img{
      width: 13rem;
    }
  }
  .actualidad__subtitle{
    margin: 0px;
    width: 100%;
    margin-top: 4rem;
    h2{
      font-size: 45px;
      margin-bottom: 2.9rem;
    }
    div{
      font-size: 1rem;
    }
  }    
}

#blog{
  div{
    flex-wrap: wrap;
    align-items: flex-end;
    .blog__title{
      flex-direction: column;
      width: 100%;
      margin: 0% 0% 7% 0%;
      align-items: flex-end;
    }
    .blog__subtitle{
      .card{
        .card-body{
          align-items: flex-start;
          .card-body-info{
            align-items: flex-start;
          }
        }
      }
    }
  }
}

#blog__example{ 
  div {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 11% 2%;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .example__title {
    flex-direction: column;
    width: 20%;
    margin: 0px 0px 60px 0px;
  }
}
#blog__img{
  height: 150px;
  margin-bottom: 15%;
}

  footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .footer__marca{
      width: 70%;
      div{
        .footer__logo{
          .footer__logo__info{
            font-size: 0.8rem;
            p{
              font-size: 0.8rem;
            }
          }
        }
      }
      p{
        font-size: 0.8rem;
      }
    }
    .footer__links{
      font-size: 0.8rem;
      margin-top: 4rem;
      width: 70%;
    }
  }
}

@media screen and (max-width: 600px) and (min-width: 400px) {
    #nav {
      display: none;
    }
    #nav__blogs{
      display:none
    }
    #nav__blogs__small{
      display: block !important;
      background-color: $background-color;
      .navbar-brand{
        img{
          width: 150px;
        }
      }
      .container-fluid{
          .offcanvas-end{
            .offcanvas-header{
              img{
                width: 150px;
              }
            }
            .offcanvas-body{
              ul{
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;
                padding: 0;
                list-style: none;
                flex-direction: column;
                flex-wrap: nowrap;
                align-content: space-around;
                li{
                  font-size: small;
                  margin-bottom: 25px;
                }
              }
            }
          }
      }
    }
  
    #nav__small {
      display: block;
      background-color: $secondary-color;
      .navbar-brand{
        img{
          width: 150px;
        }
      }
      .container-fluid{
          .offcanvas-end{
            .offcanvas-header{
              img{
                width: 150px;
              }
            }
            .offcanvas-body{
              ul{
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;
                padding: 0;
                list-style: none;
                flex-direction: column;
                flex-wrap: nowrap;
                align-content: space-around;
                li{
                  font-size: small;
                  margin-bottom: 25px;
                }
              }
            }
          }
      }
    }
  
    
  #carousel-small{
    display: block;
    #carouselExampleIndicators1{
      .carousel-inner{
        .carousel-item{
          margin: 0%;
          p{
            font-size: 1.5rem;
            position: absolute;
            bottom: 77%;
            left: 13%;
            color: white;
            margin: 0px;
          }
        }
      }
    }
  }
  
  #carousel-large{
    display:none;
  }
  
    #servicios{
      display: flex;
      margin: 3% 6%;
      flex-wrap: wrap;
      .servicios__title{
        width: 100%;
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: flex-end;
        h5{
          font-size: 1rem;
        }
        hr{
          margin: 3px 0%;
          opacity: 100%;
          box-shadow: none;
          color: $primary-color;
          width: 60%;
        }
        img{
          width: 10rem;
        }
      }
      .servicios__subtitle{
        width: 100%;
        h2{
          font-size: 35px;
          margin-top: 3rem;
        }
      }
      .servicios__example{
        width: 80%;
        margin-top: 4rem;
        p{
          font-size: 0.8rem;
        }
        .servicios__points{
          font-size: 0.8rem;
        }
        .servicios__btn{
          a{
            font-size: 0.8rem;
          }
        }
        }
    }
      
    #plan{
      div{
        flex-wrap: wrap;
        margin: 3% 6%;
        .plan__title{
          width: 100%;
          display: flex;
          height: 100%;
          flex-direction: column;
          align-items: flex-end;
          h5{
            font-size: 1rem;
          }
          hr{
            margin: 3px 0%;
            opacity: 100%;
            box-shadow: none;
            color: $primary-color;
            width: 60%;
          }
          img{
            width: 10rem;
          }
        }
        .plan__subtitle{
          width: 100%;
          h2{
            font-size: 35px;
            margin-top: 3rem;
          }
        }
        .plan__example{
          margin: 4rem 0rem 0rem 0rem;
          width: 90%;
          p{
            font-size: 0.8rem;
          }
        }
      }
      .plan__points{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0px;
        width: 100%;
        div{
          display: flex;
          margin: 0%;
          flex-direction: row;
          align-items: center;
          width: 98%;
          justify-content: center;
            .plan__points__box{
              margin: 1%;
              padding: 0%;
              height: 100%;
            }
          div{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            background-color: white;
            margin: 0px;
            height: 190px;
          }
          .plan__points__img{
            width: 190px;
          }
          .plan__points__text{
            padding: 4%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: flex-start;
            justify-content: flex-start;
            margin: 0%;
            h3{
              padding-bottom: 5%;
              width: 100%;
              margin: 0px;
              font-size: 1rem;
              font-weight: 600;
            }
            p{
              font-size: 0.7rem;
              width: 100%;
              margin: 0px;
            }
          }
        }
      }
    }
    #quienes-somos {
      .img{
        position: relative;
        bottom: 70px;
      }
    }
    
    #contacto{
      flex-wrap: wrap;
      margin: 3% 6%;
      .contacto__title{
        margin: 0px;
        width: 100%;
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: flex-end;
        h5{
          font-size: 1rem;
        }
        hr{
          margin: 3px 0px;
          opacity: inherit;
          box-shadow: none;
          color: $primary-color;
          width: 60%;
        }
      }
      .contacto__subtitle{
        margin: 0px;
        width: 100%;
        margin-top: 4rem;
        h2{
          font-size: 35px;
          margin-bottom: 2rem;
        }
        div{
          font-size: 1rem;
        }
      }
      .contacto__form{
        width: 90%;
        margin-top: 4rem;
        form{
          label{
            font-size: 1rem;
          }
          input{
            font-size: 1rem;
          }
          textarea{
            font-size: 1rem;
          }
          button{
            font-size: 1rem;
          }
        }
      }
    }

    #about{
      div{
        flex-wrap: wrap;
        margin: 3% 6%;
        .about__title{
          width: 100%;
          display: flex;
          height: 100%;
          flex-direction: column;
          align-items: flex-end;
          h5{
            font-size: 1rem;
          }
          hr{
            margin: 3px 0%;
            opacity: 100%;
            box-shadow: none;
            color: $primary-color;
            width: 60%;
          }
          img{
            width: 10rem;
          }
        }
        .about__subtitle{
          width: 100%;
          h2{
            font-size: 35px;
            margin-top: 3rem;
          }
        }
        .about__example{
          margin: 4rem 0rem 0rem 0rem;
          width: 90%;
          p{
            font-size: 0.8rem;
          }
        }
      }
    }

    #quienes-somos {
      .img{
        position: relative;
        bottom: 85px;
      }
    }

    #services{
      div{
        flex-wrap: wrap;
        margin: 3% 6%;
        .services__title{
          width: 100%;
          display: flex;
          height: 100%;
          flex-direction: column;
          align-items: flex-end;
          h5{
            font-size: 1rem;
          }
          hr{
            margin: 3px 0%;
            opacity: 100%;
            box-shadow: none;
            color: $primary-color;
            width: 60%;
          }
          img{
            width: 10rem;
          }
        }
        .services__subtitle{
          width: 100%;
          h2{
            font-size: 35px;
            margin-top: 3rem;
          }
        }
        .services__example{
          margin: 4rem 0rem 0rem 0rem;
          width: 90%;
          p{
            font-size: 0.8rem;
          }
        }
      }
    }

    #detalle{
      .detalle__opciones{
        #fiscal{
          div{
            margin: 0.5rem 1rem;
            h3{
              font-size: 1rem;
            }
            p{
              font-size: 0.7rem;
            }
            .move{
              .card-body{
                font-size: 0.6rem;
              }
              .card-example{
                .card-example-options{
                  margin: 0px 0px 5px 0px;
                  img{
                    width: 15px;
                    height: 15px;
                    margin-right: 0.5rem;
                  }
                  p{
                    font-size: 0.6rem;
                  }
                }
              }
            }
            .arrow{
              font-size: 0.7rem;
              img{
                width: 1rem;
              }
            }
          }
        }
        #contable{
          div{
            margin: 0.5rem 1rem;
            h3{
              font-size: 1rem;
            }
            p{
              font-size: 0.7rem;
            }
            .move{
              .card-body{
                font-size: 0.6rem;
              }
              .card-example{
                .card-example-options{
                  margin: 0px 0px 5px 0px;
                  img{
                    width: 15px;
                    height: 15px;
                    margin-right: 0.5rem;
                  }
                  p{
                    font-size: 0.6rem;
                  }
                }
              }
            }
            .arrow{
              font-size: 0.7rem;
              img{
                width: 1rem;
              }
            }
          }
        }
        #laboral{
          div{
            margin: 0.5rem 1rem;
            h3{
              font-size: 1rem;
            }
            p{
              font-size: 0.7rem;
            }
            .move{
              .card-body{
                font-size: 0.6rem;
              }
              .card-example{
                .card-example-options{
                  margin: 0px 0px 5px 0px;
                  img{
                    width: 15px;
                    height: 15px;
                    margin-right: 0.5rem;
                  }
                  p{
                    font-size: 0.6rem;
                  }
                }
              }
            }
            .arrow{
              font-size: 0.7rem;
              img{
                width: 1rem;
              }
            }
          }
        }
        #mercantil{
          div{
            margin: 0.5rem 1rem;
            h3{
              font-size: 1rem;
            }
            p{
              font-size: 0.7rem;
            }
            .move{
              .card-body{
                font-size: 0.6rem;
              }
              .card-example{
                .card-example-options{
                  margin: 0px 0px 5px 0px;
                  img{
                    width: 15px;
                    height: 15px;
                    margin-right: 0.5rem;
                  }
                  p{
                    font-size: 0.6rem;
                  }
                }
              }
            }
            .arrow{
              font-size: 0.7rem;
              img{
                width: 1rem;
              }
            }
          }
        }
        #administrativa{
          div{
            margin: 0.5rem 1rem;
            h3{
              font-size: 1rem;
            }
            p{
              font-size: 0.7rem;
            }
            .move{
              .card-body{
                font-size: 0.6rem;
              }
              .card-example{
                .card-example-options{
                  margin: 0px 0px 5px 0px;
                  img{
                    width: 15px;
                    height: 15px;
                    margin-right: 0.5rem;
                  }
                  p{
                    font-size: 0.6rem;
                  }
                }
              }
            }
            .arrow{
              font-size: 0.7rem;
              img{
                width: 1rem;
              }
            }
          }
        }
        #consultoria{
          div{
            margin: 0.5rem 1rem;
            h3{
              font-size: 1rem;
            }
            p{
              font-size: 0.7rem;
            }
            .move{
              .card-body{
                font-size: 0.6rem;
              }
              .card-example{
                .card-example-options{
                  margin: 0px 0px 5px 0px;
                  img{
                    width: 15px;
                    height: 15px;
                    margin-right: 0.5rem;
                  }
                  p{
                    font-size: 0.6rem;
                  }
                }
              }
            }
            .arrow{
              font-size: 0.7rem;
              img{
                width: 1rem;
              }
            }
          }
        }
        #otros{
          div{
            margin: 0.5rem 1rem;
            h3{
              font-size: 1rem;
            }
            p{
              font-size: 0.7rem;
            }
            .move{
              .card-body{
                font-size: 0.6rem;
              }
              .card-example{
                .card-example-options{
                  margin: 0px 0px 5px 0px;
                  img{
                    width: 15px;
                    height: 15px;
                    margin-right: 0.5rem;
                  }
                  p{
                    font-size: 0.6rem;
                  }
                }
              }
            }
            .arrow{
              font-size: 0.7rem;
              img{
                width: 1rem;
              }
            }
          }
        }
      }
    }

    
    #actualidad{
      flex-wrap: wrap;
      padding: 3% 6%;
      .actualidad__title{
        margin: 0px;
        width: 100%;
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: flex-end;
        h5{
          font-size: 1rem;
        }
        hr{
          margin: 3px 0px;
          opacity: inherit;
          box-shadow: none;
          color: $primary-color;
          width: 60%;
        }
        img{
          width: 10rem;
        }
      }
      .actualidad__subtitle{
        margin: 0px;
        width: 100%;
        margin-top: 4rem;
        h2{
          font-size: 35px;
          margin-bottom: 2rem;
        }
        div{
          font-size: 1rem;
        }
        .actualidad__points{
          flex-wrap: wrap;
        }
      }
    }

    #blog{
      div{
        flex-wrap: wrap;
        align-items: flex-end;
        .blog__title{
          flex-direction: column;
          width: 100%;
          margin: 0% 0% 7% 0%;
          align-items: flex-end;
        }
        .blog__subtitle{
          .card{
            .card-body{
              align-items: flex-start;
              .card-body-info{
                align-items: flex-start;
              }
            }
          }
        }
      }
    }
    
  #blog__example{ 
    div {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 11% 2%;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
    .example__title {
      flex-direction: column;
      width: 20%;
      margin: 0px 0px 60px 0px !important;
    }
  }
    #blog__img{
      height: 130px;
      margin-bottom: 15%;
    }
      
    footer{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      .footer__marca{
        width: 70%;
        div{
          .footer__logo{
            .footer__logo__info{
              font-size: 0.8rem;
              p{
                font-size: 0.8rem;
              }
            }
          }
        }
        p{
          font-size: 0.8rem;
        }
      }
      .footer__links{
        font-size: 0.8rem;
        margin-top: 4rem;
        width: 70%;
      }
    }
}

@media screen and (max-width: 400px) and (min-width: 300px) {
  #nav {
    display: none;
  }
  #nav__blogs{
    display:none importat
  }
  #nav__blogs__small{
    display: block important;
    background-color: $background-color;
    .navbar-brand{
      img{
        width: 150px;
      }
    }
    .container-fluid{
        .offcanvas-end{
          .offcanvas-header{
            img{
              width: 150px;
            }
          }
          .offcanvas-body{
            ul{
              display: flex;
              align-items: center;
              justify-content: center;
              margin: 0;
              padding: 0;
              list-style: none;
              flex-direction: column;
              flex-wrap: nowrap;
              align-content: space-around;
              li{
                font-size: small;
                margin-bottom: 25px;
              }
            }
          }
        }
    }
  }

  #nav__small {
    display: block;
    background-color: $secondary-color;
    .navbar-brand{
      img{
        width: 120px;
      }
    }
    .container-fluid{
        .offcanvas-end{
          .offcanvas-header{
            img{
              width: 120px;
            }
          }
          .offcanvas-body{
            ul{
              display: flex;
              align-items: center;
              justify-content: center;
              margin: 0;
              padding: 0;
              list-style: none;
              flex-direction: column;
              flex-wrap: nowrap;
              align-content: space-around;
              li{
                font-size: small;
                margin-bottom: 25px;
              }
            }
          }
        }
    }
  }

#carousel-large{
  display:none;
}

#carousel-small{
  display: block;
  #carouselExampleIndicators1{
    .carousel-inner{
      .carousel-item{
        margin: 0%;
        p{
          font-size: 1.2rem;
          position: absolute;
          bottom: 77%;
          left: 10%;
          color: white;
          margin: 0px;
        }
      }
    }
  }
}

  #servicios{
    display: flex;
    margin: 3% 6%;
    flex-wrap: wrap;
    .servicios__title{
      width: 100%;
      display: flex;
      height: 100%;
      flex-direction: column;
      align-items: flex-end;
      h5{
        font-size: 0.8rem;
      }
      hr{
        margin: 3px 0%;
        opacity: 100%;
        box-shadow: none;
        color: $primary-color;
        width: 60%;
      }
      img{
        width: 8rem;
      }
    }
    .servicios__subtitle{
      width: 100%;
      h2{
        font-size: 25px;
        margin-top: 2rem;
      }
    }
    .servicios__example{
      width: 95%;
      margin-top: 4rem;
      p{
        font-size: 0.6rem;
      }
      .servicios__points{
        font-size: 0.6rem;
      }
      .servicios__btn{
        width: 110px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        a{
          font-size: 0.6rem;
        }
      }
      }
  }
    
  #plan{
    div{
      flex-wrap: wrap;
      margin: 3% 6%;
      .plan__title{
        width: 100%;
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: flex-end;
        h5{
          font-size: 0.8rem;
        }
        hr{
          margin: 3px 0%;
          opacity: 100%;
          box-shadow: none;
          color: $primary-color;
          width: 60%;
        }
        img{
          width: 8rem;
        }
      }
      .plan__subtitle{
        width: 100%;
        h2{
          font-size: 25px;
          margin-top: 2rem;
        }
      }
      .plan__example{
        margin: 2rem 0rem 0rem 0rem;
        width: 99%;
        p{
          font-size: 0.6rem;
        }
      }
    }
    .plan__points{
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0px;
      width: 100%;
      div{
        display: flex;
        margin: 0%;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: center;
          .plan__points__box{
            margin: 1%;
            padding: 0%;
            height: 100%;
          }
        div{
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: flex-start;
          align-items: center;
          background-color: white;
          margin: 0px;
          height: 130px;
        }
        .plan__points__img{
          width: 130px;
        }
        .plan__points__text{
          padding: 3%;
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          align-items: flex-start;
          justify-content: flex-start;
          margin: 0%;
          h3{
            padding-bottom: 5%;
            width: 100%;
            margin: 0px;
            font-size: 0.7rem;
            font-weight: 600;
          }
          p{
            font-size: 0.6rem;
            width: 100%;
            margin: 0px;
          }
        }
      }
    }
  }
  
  #quienes-somos {
    .img{
      position: relative;
      bottom: 60px;
    }
  }

  #contacto{
    flex-wrap: wrap;
    margin: 3% 6%;
    .contacto__title{
      margin: 0px;
      width: 100%;
      display: flex;
      height: 100%;
      flex-direction: column;
      align-items: flex-end;
      h5{
        font-size: 0.8rem;
      }
      hr{
        margin: 3px 0px;
        opacity: inherit;
        box-shadow: none;
        color: $primary-color;
        width: 60%;
      }
    }
    .contacto__subtitle{
      margin: 0px;
      width: 100%;
      margin-top: 2rem;
      h2{
        font-size: 25px;
        margin-bottom: 1.5rem;
      }
      div{
        font-size: 0.7rem;
      }
    }
    .contacto__form{
      width: 90%;
      margin-top: 2rem;
      form{
        label{
          font-size: 0.7rem;
        }
        input{
          font-size: 0.7rem;
        }
        textarea{
          font-size: 0.7rem;
          height: 80px;
        }
        button{
          font-size: 0.7rem;
          width: 110px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .contacto__form__checkbox{
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        color: $primary-color;
        div{
          p{
            margin-top: 0;
            margin-bottom: 1rem;
            font-size: 0.7rem;
          }
        }
      }
    }
  }
    
  #about{
    div{
      flex-wrap: wrap;
      margin: 3% 6%;
      .about__title{
        width: 100%;
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: flex-end;
        h5{
          font-size: 0.8rem;
        }
        hr{
          margin: 3px 0%;
          opacity: 100%;
          box-shadow: none;
          color: $primary-color;
          width: 60%;
        }
        img{
          width: 8rem;
        }
      }
      .about__subtitle{
        width: 100%;
        h2{
          font-size: 25px;
          margin-top: 2rem;
        }
      }
      .about__example{
        margin: 2rem 0rem 0rem 0rem;
        width: 99%;
        p{
          font-size: 0.6rem;
        }
      }
    }
  }

  #services{
    div{
      flex-wrap: wrap;
      margin: 3% 6%;
      .services__title{
        width: 100%;
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: flex-end;
        h5{
          font-size: 0.8rem;
        }
        hr{
          margin: 3px 0%;
          opacity: 100%;
          box-shadow: none;
          color: $primary-color;
          width: 60%;
        }
        img{
          width: 8rem;
        }
      }
      .services__subtitle{
        width: 100%;
        h2{
          font-size: 25px;
          margin-top: 2rem;
        }
      }
      .services__example{
        margin: 2rem 0rem 0rem 0rem;
        width: 99%;
        p{
          font-size: 0.6rem;
        }
      }
    }
  }
  
  #detalle{
      nav{
        .sub__nav{
          li{
            font-size: 0.6rem;
            a{
              font-size: 0.6rem;
            }
          }
        }
      }
    .detalle__opciones{
      #fiscal{
        div{
          margin: 0.5rem 1rem;
          h3{
            font-size: 0.8rem;
          }
          p{
            font-size: 0.6rem;
          }
          .move{
            .card-body{
              font-size: 0.5rem;
            }
            .card-example{
              .card-example-options{
                margin: 0px 0px 5px 0px;
                img{
                  width: 15px;
                  height: 15px;
                  margin-right: 0.5rem;
                }
                p{
                  font-size: 0.5rem;
                }
              }
            }
          }
          .arrow{
            font-size: 0.6rem;
            img{
              width: 1rem;
            }
          }
        }
      }
      #contable{
        div{
          margin: 0.5rem 1rem;
          h3{
            font-size: 0.8rem;
          }
          p{
            font-size: 0.6rem;
          }
          .move{
            .card-body{
              font-size: 0.5rem;
            }
            .card-example{
              .card-example-options{
                margin: 0px 0px 5px 0px;
                img{
                  width: 15px;
                  height: 15px;
                  margin-right: 0.5rem;
                }
                p{
                  font-size: 0.5rem;
                }
              }
            }
          }
          .arrow{
            font-size: 0.6rem;
            img{
              width: 1rem;
            }
          }
        }
      }
      #laboral{
        div{
          margin: 0.5rem 1rem;
          h3{
            font-size: 0.8rem;
          }
          p{
            font-size: 0.6rem;
          }
          .move{
            .card-body{
              font-size: 0.5rem;
            }
            .card-example{
              .card-example-options{
                margin: 0px 0px 5px 0px;
                img{
                  width: 15px;
                  height: 15px;
                  margin-right: 0.5rem;
                }
                p{
                  font-size: 0.5rem;
                }
              }
            }
          }
          .arrow{
            font-size: 0.6rem;
            img{
              width: 1rem;
            }
          }
        }
      }
      #mercantil{
        div{
          margin: 0.5rem 1rem;
          h3{
            font-size: 0.8rem;
          }
          p{
            font-size: 0.6rem;
          }
          .move{
            .card-body{
              font-size: 0.5rem;
            }
            .card-example{
              .card-example-options{
                margin: 0px 0px 5px 0px;
                img{
                  width: 15px;
                  height: 15px;
                  margin-right: 0.5rem;
                }
                p{
                  font-size: 0.5rem;
                }
              }
            }
          }
          .arrow{
            font-size: 0.6rem;
            img{
              width: 1rem;
            }
          }
        }
      }
      #administrativa{
        div{
          margin: 0.5rem 1rem;
          h3{
            font-size: 0.8rem;
          }
          p{
            font-size: 0.6rem;
          }
          .move{
            .card-body{
              font-size: 0.5rem;
            }
            .card-example{
              .card-example-options{
                margin: 0px 0px 5px 0px;
                img{
                  width: 15px;
                  height: 15px;
                  margin-right: 0.5rem;
                }
                p{
                  font-size: 0.5rem;
                }
              }
            }
          }
          .arrow{
            font-size: 0.6rem;
            img{
              width: 1rem;
            }
          }
        }
      }
      #consultoria{
        div{
          margin: 0.5rem 1rem;
          h3{
            font-size: 0.8rem;
          }
          p{
            font-size: 0.6rem;
          }
          .move{
            .card-body{
              font-size: 0.5rem;
            }
            .card-example{
              .card-example-options{
                margin: 0px 0px 5px 0px;
                img{
                  width: 15px;
                  height: 15px;
                  margin-right: 0.5rem;
                }
                p{
                  font-size: 0.5rem;
                }
              }
            }
          }
          .arrow{
            font-size: 0.6rem;
            img{
              width: 1rem;
            }
          }
        }
      }
      #otros{
        div{
          margin: 0.5rem 1rem;
          h3{
            font-size: 0.8rem;
          }
          p{
            font-size: 0.6rem;
          }
          .move{
            .card-body{
              font-size: 0.5rem;
            }
            .card-example{
              .card-example-options{
                margin: 0px 0px 5px 0px;
                img{
                  width: 15px;
                  height: 15px;
                  margin-right: 0.5rem;
                }
                p{
                  font-size: 0.5rem;
                }
              }
            }
          }
          .arrow{
            font-size: 0.6rem;
            img{
              width: 1rem;
            }
          }
        }
      }
    }
  }

  
  #actualidad{
    flex-wrap: wrap;
    padding: 3% 6%;
    .actualidad__title{
      margin: 0px;
      width: 100%;
      display: flex;
      height: 100%;
      flex-direction: column;
      align-items: flex-end;
      h5{
        font-size: 0.8rem;
      }
      hr{
        margin: 3px 0px;
        opacity: inherit;
        box-shadow: none;
        color: $primary-color;
        width: 60%;
      }
      img{
        width: 8rem;
      }
    }
    .actualidad__subtitle{
      margin: 0px;
      width: 100%;
      margin-top: 2rem;
      h2{
        font-size: 25px;
        margin-bottom: 1.5rem;
      }
      div{
        font-size: 0.7rem;
      }
      .actualidad__points{
        flex-wrap: wrap;
        div{
          margin-right: 25px;
        }
      }
    }
  }

  #blog{
    div{
      flex-wrap: wrap;
      align-items: flex-end;
      .blog__title{
        flex-direction: column;
        width: 100%;
        margin: 0% 0% 7% 0%;
        align-items: flex-end;
      }
      .blog__subtitle{
        .card{
          .card-body{
            align-items: flex-start;
            .card-body-info{
              align-items: flex-start;
            }
          }
        }
      }
    }
  }
  
  #blog__example{ 
    div {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 11% 2%;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
    .example__title {
      flex-direction: column;
      width: 20%;
      margin: 0px 0px 60px 0px !important;
    }
  }
  #blog__img{
    height: 100px;
    margin-bottom: 15%;
  }

  footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .footer__marca{
      width: 95%;
      align-items: center;
      div{
        .footer__logo{
          a{
            img{
              width: 120px;
            }
          }
          .footer__logo__info{
            font-size: 0.6rem;
            p{
              font-size: 0.6rem;
            }
          }
        }
      }
      p{
        font-size: 0.6rem;
      }
    }
    .footer__links{
      font-size: 0.6rem;
      margin-top: 3rem;
      width: 95%;
    }
  }
}